<br/><br/><br/>
<div class="row">
    <div class="col-md-5">
        <a class="portal_div btn-outline-primary btn-lg btn-block" th:href="@{~/employee/all}">View Employes</a>
        <br/>
        <button class="portal_div btn-outline-primary btn-lg btn-block" id="get_list_of_most_active_flights">Get List of Most Active Flights</button>
        <br/>
        <div class="row">
            <div class="col-md-4">
                <input type="text" class="portal_div btn-outline-primary btn-lg btn-block" id="tripID" pattern="[\d]{1,4}" placeholder="Trip ID" required="true"/>
            </div>
            <div class="col-md-8">
                <button class="portal_div btn-outline-primary btn-lg btn-block" id="get_resr_by_trip">Get Resrvation by Trip</button>
            </div>
        </div>
        <br/>
        <div class="row">
            Get Resr by Customer Name <i class="fa fa-angle-double-down" aria-hidden="true"></i>
        </div>
        <div class="row">
            <div class="col-md-4">
                <input type="text" class="portal_div btn-outline-primary btn-lg btn-block" id="first_name" placeholder="firstname" required="true"/>
            </div>
            <div class="col-md-4">
                <input type="text" class="portal_div btn-outline-primary btn-lg btn-block" id="last_name" placeholder="lastname" required="true"/>
            </div>
            <div class="col-md-4">
                <button class="portal_div btn-outline-primary btn-lg btn-block" id="get_resr_by_customer">Submit</button>
            </div>
        </div>
    </div>
    <div class="col-md-2 spacer-row"></div>

    <div class="col-md-5">
        <a th:href="@{~/rep/register}" class="portal_div btn-outline-primary btn-lg btn-block">Add Employes</a>
        <br/>
        <button class="portal_div btn-outline-primary btn-lg btn-block" id="get_rep_with_most_rev">Get Reps With Most Revenue</button>
        <br/>
        <button class="portal_div btn-outline-primary btn-lg btn-block" id="get_cus_with_most_rev">Get Customer With Most Revenue</button>
    </div>
</div>
<br/><br/><br/>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h1 id="manager-table-id"></h1>
        <br/><br/>
        <table id="manager-table" class="table table-striped">
            <thead id="manager-table-head"></thead>
            <tbody id="manager-table-body"></tbody>
        </table>
    </div>
</div>