<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="sr-only" for="login-creditcardno">Credit Card Number</label>
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-user-o"></i>
                </div>
                <input type="text" name="creditcardno" th:value="${customer?.creditCardNo}" class="form-control" id="login-creditcardno" placeholder="Credit Card Number" required="true"/>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="sr-only" for="login-email">Email</label>
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-key"></i>
                </div>
                <input type="email" name="email" th:value="${customer?.email}" class="form-control" id="login-email" placeholder="Email" required="true"/>
            </div>
        </div>
    </div>
</div>
