<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="sr-only" for="login-hourlyrate">Hourly Rate</label>
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-user-o"></i>
                </div>
                <input type="text" name="hourlyrate" th:value="${employee?.hourlyRate}" class="form-control" id="login-hourlyRate" placeholder="Hourly Rate" required="true"/>
            </div>
        </div>
    </div>
</div>
