<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="sr-only" for="login-username">Username</label>
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-user-o"></i>
                </div>
                <input type="text" name="username" class="form-control" id="login-username" placeholder="Username" required="true"/>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="sr-only" for="login-password">Password</label>
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-key"></i>
                </div>
                <input type="password" name="password" class="form-control" id="login-password" placeholder="Password" required="true"/>
            </div>
        </div>
    </div>
</div>
