<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="sr-only" for="sign-firstname">First Name</label>
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-user-o"></i>
                </div>
                <input type="text" th:value="${person?.firstName}" name="firstname" class="form-control" id="sign-firstname" placeholder="First Name" required="true"/>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="sr-only" for="sign-lastname">Last Name</label>
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-key"></i>
                </div>
                <input type="text" th:value="${person?.lastName}" name="lastname" class="form-control" id="sign-lastname" placeholder="lastname" required="true"/>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="sr-only" for="sign-address">Address</label>
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-key"></i>
                </div>
                <input type="text" th:value="${person?.address}" name="address" class="form-control" id="sign-address" placeholder="Address" required="true"/>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="sr-only" for="sign-city">City</label>
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-key"></i>
                </div>
                <input type="text" name="city" th:value="${person?.city}" class="form-control" id="sign-city" placeholder="City" required="true"/>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="sr-only" for="sign-state">State</label>
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-key"></i>
                </div>
                <input type="text" name="state" th:value="${person?.state}" class="form-control" id="sign-state" placeholder="State" required="true"/>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="sr-only" for="sign-zipcode">Zipcode</label>
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-key"></i>
                </div>
                <input type="text" name="zipcode" th:value="${person?.zipCode}" class="form-control" id="sign-zipcode" placeholder="Zipcode" required="true"/>
            </div>
        </div>
    </div>
</div>
