<br/><br/><br/>
<div>
    <div class="row">
        <div class="col-md-2 spacer-row"></div>
        <div class="col-md-8">
            <a class="portal_div btn-outline-primary btn-lg btn-block" th:href="@{~/employee/all}">View Employes</a>
            <br/>
            <a class="portal_div btn-outline-primary btn-lg btn-block" th:href="@{~/customer/register}">Add Customer</a>
        </div>
    </div>
</div>