<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="header"></div>
<body>
<!-- Everything elsee -->

<div th:replace="navbar"></div>

<div class="container">
    <h2>Trip Information</h2>
    <p th:text="'Trip ID - ' + ${trip.id}"></p>
    <a th:href="@{~/flight/{airlineID}/{flightNo}(airlineID=${trip.airlineID}, flightNo=${trip.flightNo})}" th:text="'Flight ' + ${trip.airlineID} + ' - ' + ${trip.flightNo}"></a>

    <h2>Trip Schedule</h2>
    <table>
        <tr>
            <th>Stop Number</th>
            <th>Airport ID</th>
            <th>Arrival Time</th>
            <th>Departure Time</th>
        </tr>
        <th:block th:each="stop : ${trip.stops}">
            <tr>
                <td th:text="${stop.stopNo}"></td>
                <td th:text="${stop.airportID}"></td>
                <td th:text="${stop.arrTime}" th:id="'stop' + ${stop.stopNo} + 'arrTime'"></td>
                <td th:text="${stop.depTime}"></td>
            </tr>
        </th:block>
    </table>

    <div sec:authorize="hasAnyRole('ROLE_CUSTOMER', 'ROLE_REP')">
        <h2>Make a Reservation</h2>
        <form method="POST" th:action="@{~/customer/reservations/new}">
            <div sec:authorize="hasRole('ROLE_REP')">
                <p>Select an Account Number of a customer</p>
                <input type="text" value="" name="accountNo" required="true"/>
            </div>
            <div sec:authorize="hasRole('ROLE_CUSTOMER')">
                <input type="text" value="-1" name="accountNo" style="display:none" required="true"/>
            </div>
            <input type="text" name="tripID" th:value="${trip.id}" style="display:none" />
            <input type="text" name="airlineID" th:value="${trip.airlineID}" style="display:none" />
            <input type="text" name="flightNo" th:value="${trip.flightNo}" style="display:none" />
            <p>start stop</p>
            <select name="startStop" th:size="${trip.stops.size()}">
                <th:block th:each="stop : ${trip.stops}">
                    <option th:value="${stop.stopNo}" th:text="${stop.stopNo}"></option>
                </th:block>
            </select>
            <p>end stop</p>
            <select name="endStop" th:size="${trip.stops.size()}">
                <th:block th:each="stop : ${trip.stops}">
                    <option th:value="${stop.stopNo}" th:text="${stop.stopNo}"></option>
                </th:block>
            </select>
            <p>Select a seat class</p>
            <input type="radio" name="seatClass" value="economy" text="economy" checked="true" /> Economy <br />
            <input type="radio" name="seatClass" value="business" text="business" /> Business <br />
            <input type="radio" name="seatClass" value="first" text="first" /> First <br />
            <input type="submit"/>
        </form>
    </div>
</div>
</body>
</html>
