<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="header"></div>
<body>
<!-- Everything elsee -->


<div th:replace="navbar"></div>

<div class="container">
    <h2>Airline Information</h2>
    <p th:text="'Airline Name - ' + ${airline.name}"></p>
    <p th:text="'Airline ID - ' + ${airline.id}"></p>
    <h2>Discount Information</h2>
    <th:block th:each="discount : ${airline.discounts}">
        <p th:text="'A purchase of a ticket at least ' + ${discount.days} + ' in advance will grant you a discount of ' + ${discount.percent} + '%'"></p>
    </th:block>
</div>
</body>
</html>
