<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="header"></div>
<body>
<!-- Everything elsee -->

<div th:replace="navbar"></div>

<div class="container">
    <h2>Flight Information</h2>
    <p th:text="'Flight Name - ' + ${flight.airline.name} + ' Flight ' + ${flight.flightNo} "></p>
    <p th:text="'Number of seats - ' + ${flight.noOfSeats}"></p>
    <h2>Fare Information</h2>
    <p th:text="'One Way - Economy - $' + ${flight.fare.fareMap.get('oneway').get('economy')}"></p>
    <p th:text="'Round Trip - Economy - $' + ${flight.fare.fareMap.get('round').get('economy')}"></p>
    <p th:text="'One Way - Business - $' + ${flight.fare.fareMap.get('oneway').get('business')}"></p>
    <p th:text="'Round Trip - Business - $' + ${flight.fare.fareMap.get('round').get('business')}"></p>
    <p th:text="'One Way - First - $' + ${flight.fare.fareMap.get('oneway').get('first')}"></p>
    <p th:text="'Round Trip - First - $' + ${flight.fare.fareMap.get('round').get('first')}"></p>
</div>
</body>
</html>
