<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="header"></div>
<body id="error-page-body">
<!-- Everything elsee -->

<div th:replace="navbar"></div>

<!--<div class="container">-->
    <!--<div th:text="${error}">An error occurred</div>-->
<!--</div>-->

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1 class="text-danger">
                    Oops!
                </h1>
                <h2>
                    404 Not Found <i class="fa fa-frown-o" aria-hidden="true"></i>
                </h2>
                <h3>
                    Server returned the following information:
                </h3>
                <br/>
                <h4 class="error-details text-warning" th:text="${error}">
                    Sorry, an error has occured, Requested page not found!
                </h4>
            </div>
        </div>
    </div>
</div>


</body>
</html>
