<div class="row spacer-row" th:fragment="flight-query">
    <!-- This is just a spacer row -->
</div>
<h1>Brown Town Reservation System</h1>
<div class="form-group row">
    <label for="travel-preference" class="col-md-1 col-form-label"></label>
    <div class="col-md-10">
        <select class="custom-select" id="travel-preference">
            <option selected="true" value="oneway">One-Way</option>
            <option value="round">Round-Trip</option>
        </select>
    </div>
</div>
<div class="ticket-search">
    <div class="ticket-form">
        <form id="flight_search">
            <div class="co-md-10">
                <div class="form-group row">
                    <label for="search-dep" class="col-md-1 col-form-label">From</label>
                    <div class="col-md-5">
                        <input class="form-control" type="text" name="start" value="sfi" placeholder="New York City" id="search-dep" required="true"/>
                    </div>
                    <label for="search-arr" class="col-md-1 col-form-label">To</label>
                    <div class="col-md-5">
                        <input class="form-control" type="text" name="stop" value="lgi" placeholder="Palo Alto" id="search-arr" required="true"/>
                    </div>
                </div>
                <div class="row">
                    <h3>Select search range</h3>
                </div>
                <div class="form-group row">
                    <label for="saerch-start" class="col-md-1 col-form-label">From</label>
                    <div class="col-md-5">
                        <input class="form-control date" type="text" id="saerch-start" value="2010-01-01" name="dep" placeholder="yyyy-mm-dd" pattern="[\d]{4}-[\d]{2}-[\d]{2}" required="true"/>
                    </div>
                    <label for="saerch-stop" class="col-md-1 col-form-label">To</label>
                    <div class="col-md-5">
                        <input class="form-control date" type="text" id="saerch-stop" name="arr" value="2019-01-01" placeholder="yyyy-mm-dd" pattern="[\d]{4}-[\d]{2}-[\d]{2}" required="true"/>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label"></label>
                <div class="col-md-12">
                    <button id="flight_search_submit" class="btn btn-primary btn-lg btn-block">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- This is the place where ticket results are shown -->
<div class="row">
    <div class="col-md-12" id="ticket-results">
        <div class="row flight-search-result" id="?">
            <div class="col-md-12" id="search_result_h"></div>
            <div class="col-md-2"></div>
            <div class="col-md-8" id="search_result"></div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>