<nav th:fragment="navbar" class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <a class="navbar-brand" href="#">Brown Town Reservation</a>
    <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbar-contents-dropdown" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbar-contents-dropdown">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a th:href="@{~/help}" class="btn">
                        <span class="nav-elements" data-toggle="tooltip" title="HELP">
                            <i class="fa fa-question fa-2x" aria-hidden="true"></i>
                        </span>
                </a>
            </li>
            <li class="nav-item">
                <a th:href="@{~/flight/flights}" class="btn">
                        <span class="nav-elements" data-toggle="tooltip" title="PROFILE">
                            <i class="fa fa-paper-plane-o fa-2x" aria-hidden="true"></i>
                        </span>
                </a>
            </li>
            <li class="nav-item">
                <a th:href="@{~/}" class="btn">
                        <span class="nav-elements" data-toggle="tooltip" title="HOME">
                            <i class="fa fa-home fa-2x" aria-hidden="true"></i>
                        </span>
                </a>
            </li>
            <li class="nav-item" sec:authorize="isAnonymous()">
                <a th:href="@{~/login.html}" class="btn">
                        <span class="nav-elements" data-toggle="tooltip" title="PROFILE">
                            <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                        </span>
                </a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a th:href="@{~/logout}" class="btn">
                        <span class="nav-elements" data-toggle="tooltip" title="LOGOUT">
                            <i class="fa fa-sign-out fa-2x" aria-hidden="true"></i>
                        </span>
                </a>
            </li>
        </ul>
    </div>
</nav>