<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <h1 th:text="'A cat makes the sound' + ${sound}">made from thymeleaf</h1>
</body>
</html>