<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="header"></div>
<body>
<!-- Everything elsee -->


<div th:replace="navbar"></div>
<div class="container">
    <h2>Current Customers</h2>
    <ul>
        <th:block th:each="customer : ${customers}">
            <li><a th:href="@{~/customer/view/{accountNo}(accountNo=${customer?.accountNo})}" th:text="${customer?.firstName} + ' ' + ${customer?.lastName}"></a></li>
        </th:block>
    </ul>

</div>
</body>
</html>
