<br/><br/><br/>
<div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <a class="portal_div btn-outline-primary btn-lg btn-block" th:href="@{~/customer/self}">View Profile</a>
            <a class="portal_div btn-outline-primary btn-lg btn-block" th:href="@{~/customer/self/reservations}">View Reservation</a>
        </div>
    </div>
</div>