<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="header"></div>
<body>
<!-- Everything elsee -->


<div th:replace="navbar"></div>
<div class="container">
    <h2>Customer Information</h2>
    <p th:text="'Name - ' + ${customer?.firstName} + ' ' +  ${customer?.lastName}"></p>
    <p th:text="'Address - ' + ${customer?.address} + ', ' + ${customer?.city} + ', ' + ${customer?.state} + ', ' + ${customer?.zipCode}"></p>
    <h2>Account Information</h2>
    <p th:text="'Account Number - ' + ${customer?.accountNo}"></p>
    <p th:text="'Credit Card Number - ' + ${customer?.creditCardNo}"></p>
    <p th:text="'Email - ' + ${customer?.email}"></p>
    <a th:href="@{__${#httpServletRequest.requestURI}__/update}">Update</a>
</div>
</body>
</html>
