<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="header"></div>
<body>
<!-- Everything elsee -->


<div th:replace="navbar"></div>
<div class="container">
    <h2>Current Reservations</h2>
    <ul>
        <th:block th:each="res : ${reservations}">
            <li><a th:href="@{~/reservation/{resrNo}(resrNo=${res?.resrNo})}" th:text="'Reservation - ' + ${res?.resrNo}"></a></li>
        </th:block>
    </ul>

</div>
</body>
</html>
