<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="header"></div>
<body>
<!-- Everything elsee -->

<div th:replace="navbar"></div>

<div class="container">
    <h2>Reservation Information</h2>
    <p th:text="'Reservation - ' + ${res.resrNo}"></p>
    <p th:text="'Customer name - ' + ${res.customer.firstName} + ' ' + ${res.customer.lastName}"></p>
    <p th:text="'Account No - ' + ${res.customer.accountNo}"></p>
    <div th:if="${res.employee != null}">
        <p th:text="'Customer Representative ' + ${res?.employee?.firstName} + ' ' + ${res?.employee?.lastName}">&nbsp;</p>
    </div>
    <h2>Reservation Legs</h2>
    <table class="table table-striped">
        <tr>
            <th>From</th>
            <th>Departure Time</th>
            <th>To</th>
            <th>Arrival Time</th>
        </tr>
        <th:block th:each="leg : ${res.legs}">
            <tr>
                <td th:text="${leg.deptAirportID}"></td>
                <td th:text="${leg.deptTime}"></td>
                <td th:text="${leg.arrAirportID}"></td>
                <td th:text="${leg.arrTime}"></td>
            </tr>
        </th:block>
    </table>
</div>
</body>
</html>
