<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="header"></div>
<body>
<!-- Everything elsee -->


<div th:replace="navbar"></div>
<div class="container">
    <h2>Current Employees</h2>
    <ul>
        <th:block th:each="employee : ${employees}">
            <li><a th:href="@{/employee/view/{ssn}(ssn=${employee?.ssn})}" th:text="${employee?.firstName} + ' ' + ${employee?.lastName}"></a></li>
        </th:block>
    </ul>

</div>
</body>
</html>
