<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="header"></div>
<body>
<!-- Everything elsee -->

<div th:replace="navbar"></div>

<div class="container">
    <h2>Customer Information</h2>
    <p th:text="'Name - ' + ${employee?.firstName} + ' ' +  ${employee?.lastName}"></p>
    <p th:text="'Address - ' + ${employee?.address} + ', ' + ${employee?.city} + ', ' + ${employee?.state} + ', ' + ${employee?.zipCode}"></p>
    <h2>Employee Information</h2>
    <p th:text="'Employee Social Security - ' + ${employee?.ssn}"></p>
    <div sec:authorize="hasRole('ROLE_MANAGER')">
        <p th:text="'Hourly Rate - ' + ${employee?.hourlyRate}"></p>
    </div>
    <a th:href="@{__${#httpServletRequest.requestURI}__/update}">Update</a>
</div>
</body>
</html>
